@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}
body {
  font: 1rem/1.5 var(--bs-font-sans-serif);
  background: #343a40;
}
a {
  color: var(--bs-blue);
}

.brand {
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  font-family: Montserrat;
  font-weight: 600;
}

.title1 {
  color: aliceblue;
}

.title2 {
  color: crimson;
  font-weight: 500;
}

.title3 {
  color: aliceblue;
  font-size: 13px;
}

.judul {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-family: Montserrat;
  font-weight: 600;
}

.home-page-title {
  color: aliceblue;
  font-size: 32px;
  font-family: Montserrat;
  font-weight: 600;
}

.home-page-paragraph {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: Montserrat;
  font-weight: 600;
}

main {
  background-color: rgba(146, 146, 146, 0.5);
}


.foto-sekbid {
  max-width: 150px;
  height: 100%;
  border-radius: 10px;
}


.bidang-bidang-style {
  background-image: url('/image/home-background.jpg');
  background-position: top;
  background-repeat: repeat-y; /* Do not repeat the image */
  background-size: cover;
  position: relative;
}

.bidang {
  height: 200px;
}
div.ketos {
  background-image: url('/image/sekbid/ketos waketos.JPG');
  background-repeat: repeat-y; /* Do not repeat the image */
  background-size: cover;
  position: absolute;
  margin:0; /* If you want no margin */
  padding:0; /*if your want to padding */
  position: relative;
}

div.ketos:hover {
  cursor: pointer;
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(1.1);
  transition: 0.2s;
}

a.sekertaris {
  background-image: url('/image/sekbid/sekretaris.JPG');
  background-repeat: repeat-y; /* Do not repeat the image */
  background-size: cover;
  position: absolute;
  margin:0; /* If you want no margin */
  padding:0; /*if your want to padding */
  position: relative;
}

a.sekertaris:hover {
  cursor: pointer;
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(1.1);
  transition: 0.2s;
}
a.bendahara {
  background-image: url('/image/sekbid/bendahara.JPG');
  background-repeat: repeat-y; /* Do not repeat the image */
  background-size: cover;
  position: absolute;
  margin:0; /* If you want no margin */
  padding:0; /*if your want to padding */
  position: relative;
}

a.bendahara:hover {
  cursor: pointer;
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(1.1);
  transition: 0.2s;
}

div.sekbid1 {
  background-image: url('/image/sekbid/sekbid 1.JPG');
  background-repeat: repeat-y; /* Do not repeat the image */
  background-size: cover;
  position: absolute;
  margin:0; /* If you want no margin */
  padding:0; /*if your want to padding */
  position: relative;
}

div.sekbid1:hover {
  cursor: pointer;
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(1.1);
  transition: 0.2s;
}

div.sekbid2 {
  background-image: url('/image/sekbid/sekbid 2.JPG');
  background-repeat: repeat-y; /* Do not repeat the image */
  background-size: cover;
  position: absolute;
  margin:0; /* If you want no margin */
  padding:0; /*if your want to padding */
  position: relative;
}

div.sekbid2:hover {
  cursor: pointer;
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(1.1);
  transition: 0.2s;
}

div.sekbid3 {
  background-image: url('/image/sekbid/sekbid 3.JPG');
  background-repeat: repeat-y; /* Do not repeat the image */
  background-size: cover;
  position: absolute;
  margin:0; /* If you want no margin */
  padding:0; /*if your want to padding */
  position: relative;
}

div.sekbid3:hover {
  cursor: pointer;
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(1.1);
  transition: 0.2s;
}

div.sekbid4 {
  background-image: url('/image/sekbid/sekbid 4.JPG');
  background-repeat: repeat-y; /* Do not repeat the image */
  background-size: cover;
  position: absolute;
  margin:0; /* If you want no margin */
  padding:0; /*if your want to padding */
  position: relative;
}

div.sekbid4:hover {
  cursor: pointer;
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(1.1);
  transition: 0.2s;
}

div.sekbid5 {
  background-image: url('/image/sekbid/sekbid 5.JPG');
  background-repeat: repeat-y; /* Do not repeat the image */
  background-size: cover;
  position: absolute;
  margin:0; /* If you want no margin */
  padding:0; /*if your want to padding */
  position: relative;
}

div.sekbid5:hover {
  cursor: pointer;
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(1.1);
  transition: 0.2s;
}

div.sekbid6 {
  background-image: url('/image/sekbid/sekbid 6.JPG');
  background-repeat: repeat-y; /* Do not repeat the image */
  background-size: cover;
  position: absolute;
  margin:0; /* If you want no margin */
  padding:0; /*if your want to padding */
  position: relative;
}

div.sekbid6:hover {
  cursor: pointer;
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(1.1);
  transition: 0.2s;
}

div.sekbid7 {
  background-image: url('/image/sekbid/sekbid 7.JPG');
  background-repeat: repeat-y; /* Do not repeat the image */
  background-size: cover;
  position: absolute;
  margin:0; /* If you want no margin */
  padding:0; /*if your want to padding */
  position: relative;
}

div.sekbid7:hover {
  cursor: pointer;
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(1.1);
  transition: 0.2s;
}

div.sekbid8 {
  background-image: url('/image/sekbid/sekbid 8.JPG');
  background-repeat: repeat-y; /* Do not repeat the image */
  background-size: cover;
  position: absolute;
  margin:0; /* If you want no margin */
  padding:0; /*if your want to padding */
  position: relative;
}

div.sekbid8:hover {
  cursor: pointer;
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(1.1);
  transition: 0.2s;
}

div.sekbid9 {
  background-image: url('/image/sekbid/sekbid 9.JPG');
  background-repeat: repeat-y; /* Do not repeat the image */
  background-size: cover;
  position: absolute;
  margin:0; /* If you want no margin */
  padding:0; /*if your want to padding */
  position: relative;
}

div.sekbid9:hover {
  cursor: pointer;
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(1.1);
  transition: 0.2s;
}

div.sekbid10 {
  background-image: url('/image/sekbid/sekbid 10.JPG');
  background-repeat: repeat-y; /* Do not repeat the image */
  background-size: cover;
  position: absolute;
  margin:0; /* If you want no margin */
  padding:0; /*if your want to padding */
  position: relative;
}

div.sekbid10:hover {
  cursor: pointer;
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(1.1);
  transition: 0.2s;
}


p.nama-anggota {
  font-size: 16px;
  font-weight: 600;
  font-family: Montserrat;
  color: white;
}
